<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection"
         connectionString="metadata=res://*/Model.csdl|Model.Oracle.ssdl|res://*/Model.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=SYSTEM;Password=12345678;Server=127.0.0.1;Home=XE;Direct=True;Persist Security Info=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="SqlServerConnection"
         connectionString="metadata=res://*/Model.csdl|Model.SqlServer.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NB-BRUNOF\SQLEXPRESS;Initial Catalog=EFTest;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>